name: CD
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  cd:
    uses: jenkins-infra/github-reusable-workflows/.github/workflows/maven-cd.yaml@v0
    secrets: inherit
